<div class="popup popup--projects">
  <div class="popup__container">
    <div class="popup__top">
      <span class="popup__name">Получить консультацию</span>

      <button class="popup__close" type="button">
        <svg>
          <use xlink:href="images/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
    <div class="popup__body">
      <form class="form-sell form-sell--dark">
        <label class="form-sell__group">
          <input
            class="form-sell__input"
            type="tel"
            placeholder="Введите Ваш телефон"
          />
        </label>
        <button class="form-sell__btn btn btn--white" type="submit">
          Получить консультацию
        </button>
        <label class="form-sell__checkbox checkbox checkbox--white">
          <input class="checkbox__input" type="checkbox" checked />
          <span class="checkbox__box"></span>
          <span class="checkbox__text"
            >Отправляя заявку я соглашаюсь на обработку персональных
            данных</span
          >
        </label>
      </form>
    </div>
  </div>
</div>
