body {
  font-family: "Verdana";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-bg);
  position: relative;
  overflow-x: hidden;

  @include breakpointsMaxW($bp-768) {
    font-size: 15px;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: $bp-container;
  padding: 0px 15px;
  margin: 0 auto;

  &--c-1920 {
    max-width: 1920px;
  }
}

.card-link {
  transition: 200ms ease;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main {
  &.mt {
    margin-top: 110px;

    @include breakpointsMaxW($bp-991) {
      margin-top: 75px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  transition: 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 550ms ease;
  }
}

.logo {
  width: 155px;
  height: 50px;
  display: block;
  transition: 200ms ease;

  @include breakpointsMaxW($bp-container) {
    width: 135px;
    height: 45px;
  }

  &:hover {
    opacity: 0.8;
  }

  @include breakpointsMaxW($bp-991) {
    width: 120px;
    height: 40px;
  }

  img {
    @include img(contain);
  }
}

// * Кнопки
.btn {
  display: inline-block;
  background-color: var(--color-light);
  color: var(--color-white);
  line-height: 1;
  transition: 200ms ease;
  padding: 13px 15px;
  border-radius: 5px;
  color: var(--color-accent);
  border: 1px solid var(--color-light);
  text-align: center;

  &:hover {
    background-color: var(--color-accent);
    color: var(--color-light);
  }

  &--white {
    background-color: var(--color-white);

    &:hover {
      border-color: var(--color-accent);
    }
  }

  &--dark {
    background-color: var(--color-accent);
    color: var(--color-white);
    border-color: var(--color-accent);

    &:hover {
      background-color: transparent;
      color: var(--color-accent);
    }
  }

  &--bordered {
    background-color: transparent;
    color: var(--color-light);

    &:hover {
      background-color: var(--color-light);
      color: var(--color-accent);
    }
  }

  &:active {
    transform: scale(0.98);
  }
}

// * Карта
.map {
  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.nice-select {
  .nice-select-dropdown {
    width: 100%;
  }

  .list {
    width: 100%;
  }
}

.choices {
  font-size: 14px;
  line-height: 1.1;
  height: 55px;
  font-weight: 400;
  width: 100%;
  color: #686868;
  margin-bottom: 0 !important;
  padding-right: 20px;

  &__placeholder {
    opacity: 1;
  }

  &__inner {
    padding: 12px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    background-color: inherit !important;
    display: flex;
    align-items: center;
    position: relative;
    border: none;
  }

  &::after {
    border: none !important;
    width: 25px !important;
    height: 25px !important;
    margin-top: 0 !important;

    mask-image: url("../images/chevron.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: #515253;

    right: 5px !important;
    top: 20px !important;

    transition: 150ms ease-in;
  }

  &.is-open {
    &::after {
      margin-top: 0 !important;
      transform: rotate(180deg);
    }
  }

  &__list {
    padding: 0;
    background-color: inherit;
    max-height: 200px;

    .choices__item {
      background-color: inherit;
    }

    &--dropdown {
      z-index: 100;
      z-index: 5;

      .choices__list {
        max-height: 200px !important;
        overflow-y: auto;
      }

      .choices__item {
        position: relative;
        padding: 12px !important;
        padding-right: 0 !important;

        &:hover {
          background-color: var(--color-bg);
          color: var(--color-dark);
        }

        .choices__item--selectable {
          background-color: #ededed;
        }

        &.is-selected,
        &.is-highlighted {
          &:focus {
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
          }

          &:hover {
            background-color: var(--color-bg);
          }
        }
      }
    }
  }
}
