// Color
:root {
  --color-black: #000;
  --color-white: #fff;

  --color-accent: #303058; // 48, 48, 88
  --color-dark: #32303a;
  --color-light: #f1ebda;
  --color-bg: #fdfbf4;
  --color-rgba-005: rgba(244, 245, 247, 0.05);
}

// * breakpointsMaxW
$bp-fullPage: 1950px;
$bp-container: 1270px;
$bp-991: 991.98px;
$bp-768: 767.98px;
$bp-576: 576px;
$bp-360: 359.98px;

// *=== Fonts
$Verdana: "Verdana";
