.aim {
  background-color: #2c2c59;
  @include adaptive-value("padding-top", 90, 50, 1);
  @include adaptive-value("padding-bottom", 90, 50, 1);
  color: var(--color-white);

  &__text {
    font-weight: 400;
    max-width: 930px;
    margin: 0 auto;
    @include adaptive-value("font-size", 25, 16, 1);
    @include adaptive-value("margin-bottom", 105, 40, 1);

    span {
      font-weight: 700;
      color: var(--color-white);
      background-color: #535fd0;
      display: inline-block;
      padding: 0 15px;
      @include adaptive-value("font-size", 37, 20, 1);
    }
  }

  &__inner {
    background-color: rgba(246, 248, 250, 0.05);
    display: flex;
    justify-content: space-between;
    @include adaptive-value("padding", 60, 15, 1);

    @include breakpointsMaxW($bp-768) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__left {
    margin-right: 50px;
    flex-shrink: 0;
    @include adaptive-value("font-size", 25, 20, 1);

    @include breakpointsMaxW($bp-991) {
      margin-right: 30px;
    }

    @include breakpointsMaxW($bp-768) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__right {
    font-size: 14px;
    max-width: 755px;
    line-height: 2;
  }
}
