.categories-card {
  border-radius: 10px;
  max-width: 380px;
  height: 425px;
  @include adaptive-value("height", 425, 350, 1);
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: var(--color-white);
  @include background(cover);

  &::after {
    @include elDef();
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(46, 45, 47, 0.6);
  }

  &__info {
    z-index: inherit;
    position: absolute;
    width: calc(100% - 90px);
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpointsMaxW($bp-768) {
      width: calc(100% - 30px);
    }
  }

  &__title {
    font-size: 19px;
    line-height: 1.2;
    font-weight: 700;
    @include adaptive-value("font-size", 19, 16, 1);
    margin-bottom: 20px;

    a {
      transition: 200ms;
    }

    &:hover {
      color: var(--color-light);
    }
  }

  &__text {
    margin-bottom: 30px;
    font-size: 15px;
  }

  &__btn{
    padding-left: 20px;
    padding-right: 20px;
  }
}
