.footer {
  padding-top: 35px;
  border-top: 1px solid #3e3e68;
  background-color: var(--color-accent);
  color: var(--color-white);
  font-size: 14px;

  &__logo {
    margin-bottom: 50px;

    @include breakpointsMaxW($bp-768) {
      margin-bottom: 30px;
    }
  }

  &__top {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 2fr auto;
    gap: 60px;
    color: #7c7c7c;
    font-size: 16px;

    @include breakpointsMaxW($bp-container) {
      gap: 20px;
    }

    @include breakpointsMaxW($bp-576) {
      gap: 40px;
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }

    @include breakpointsMaxW($bp-576) {
      padding-bottom: 10px;
    }
  }

  &__left {
    display: grid;
    grid-template-columns: 160px auto 1fr;
    gap: 60px;

    @include breakpointsMaxW($bp-container) {
      gap: 20px;
    }

    @include breakpointsMaxW($bp-991) {
      width: 100%;
      gap: 40px;
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpointsMaxW($bp-576) {
      grid-template-columns: 1fr;
      gap: 40px 20px;
    }
  }

  &__lists {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 55px;

    @include breakpointsMaxW($bp-container) {
      gap: 20px;
    }

    @include breakpointsMaxW($bp-768) {
      gap: 50px;
    }

    @include breakpointsMaxW($bp-360) {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }

  &__col {
    &--lists {
      @include breakpointsMaxW($bp-768) {
        grid-column: span 2;
      }

      @include breakpointsMaxW($bp-576) {
        grid-column: initial;
      }
    }
  }

  &__bottom {
    &-inner {
      padding: 25px 0;
      font-size: 12px;
      line-height: 1;
      color: #c0c2dd;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #3e3e68;

      @include breakpointsMaxW($bp-991) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &__copy {
    margin-right: 30px;
    line-height: 1.3;

    @include breakpointsMaxW($bp-991) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  .company {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;

    span {
      margin-right: 10px;
    }

    @include breakpointsMaxW($bp-768) {
      justify-content: center;

      img {
        width: 140px;
      }
    }
  }

  &__link {
    display: block;
    color: #c0c2dd;
    padding: 7px 0 7px 0;
    font-size: 14px;
    position: relative;
    transition: 150ms ease;

    &:hover {
      color: var(--color-light);

      span {
        &::after {
          transform: scaleX(1);
        }
      }
    }

    span {
      transition: 150ms ease;
      position: relative;

      &::after {
        @include elDef();
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -5px;
        background-color: var(--color-light);
        transform-origin: left;
        transform: scaleX(0);
        transition: 350ms ease;
      }
    }
  }

  &__name {
    display: block;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--color-light);
    @include adaptive-value("margin-bottom", 35, 20, 1);
  }

  .footer-contacts {
    color: #c0c2dd;
    font-size: 14px;

    &__list {
      margin-bottom: 30px;
    }

    &__item {
      position: relative;
      display: flex;
      align-items: center;

      a {
        &:hover {
          color: var(--color-light);
        }
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &--address {
        .footer-contacts__icon {
          &::after {
            @include maskImage(url("../images/location.svg"), contain);
          }
        }
      }

      &--phone {
        .footer-contacts__icon {
          &::after {
            @include maskImage(url("../images/phone.svg"), contain);
          }
        }
      }

      &--email {
        .footer-contacts__icon {
          &::after {
            @include maskImage(url("../images/email.svg"), contain);
          }
        }
      }
    }

    &__icon {
      width: 27px;
      height: 27px;
      background-color: var(--color-rgba-005);
      margin-right: 10px;
      border-radius: 50%;
      position: relative;

      &::after {
        @include elDef();
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        background-color: #9797bc;
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;

    @include breakpointsMaxW($bp-360) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__btn {
    padding: 11px 20px;
    font-size: 13px;
    line-height: 1;
    height: 40px;
    flex-shrink: 0;

    @include breakpointsMaxW($bp-576) {
      font-size: 11px;
      padding: 11px 15px;
    }

    &:not(:last-child) {
      margin-right: 9px;
    }

    @include breakpointsMaxW($bp-360) {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
      }
    }

    &--up {
      width: 63px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        svg {
          fill: var(--color-accent);
        }
      }

      svg {
        width: 18px;
        height: 18px;
        fill: var(--color-light);
      }
    }
  }
}
