.form-select {
  max-width: 735px;
  width: 100%;

  &__inner {
    display: grid;
    grid-template-columns: 183px 1fr 1fr auto;
    width: 100%;
    gap: 10px;
    margin-bottom: 25px;
    background-color: var(--color-white);
    line-height: 1;
    font-weight: 400;
    color: #515253;
    box-shadow: 0px 8px 57px 0px rgba(90, 90, 90, 0.07);
    border-radius: 10px;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;
    @include adaptive-value('padding-left', 20, 10, 1);
    @include adaptive-value('padding-right', 20, 10, 1);
    @include adaptive-value('padding-top', 12, 10, 1);
    @include adaptive-value('padding-bottom', 12, 10, 1);
    @include adaptive-value('font-size', 13, 11, 1);

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @include breakpointsMaxW($bp-576) {
      gap: 10px;
      grid-template-columns: 1fr;
    }
  }

  .choices {
    border: 1px solid #dddddd;

    &::after {
      top: 17px !important;
    }

    @include breakpointsMaxW($bp-768) {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    @include breakpointsMaxW($bp-576) {
      grid-column: initial;
      grid-row: initial;
    }
  }

  .choices__inner {
    padding-left: 10px;
  }

  &__select {
    border: none;
    width: 160px;
    position: relative;

    &::before {
      @include elDef();
      width: 1px;
      height: 100%;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #f0f0f0;
      z-index: 2;

      @include breakpointsMaxW($bp-768) {
        display: none;
      }
    }

    &--no-border {
      &::before {
        display: none;
      }
    }

    @include breakpointsMaxW($bp-768) {
      width: 100%;
      max-width: 100%;
      padding-left: 10px;
    }

    .list {
      width: 100% !important;
    }
  }

  &__name {
    margin-bottom: 20px;
    font-size: 14px;
  }

  &__submit {
    font-size: 15px;
    width: 120px;

    @include breakpointsMaxW($bp-768) {
      width: 100%;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    line-height: 1;
    padding-right: 40px;
    padding-left: 5px;

    @include breakpointsMaxW($bp-768) {
      padding-right: 5px;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;

    @include breakpointsMaxW($bp-576) {
      margin-top: 10px;
    }

    .range-slider {
      max-width: 100%;

      &__max,
      &__min {
        height: 40px;
        font-size: 12px;
      }
    }
  }

  &__btn {
    color: #94949d;
    transition: 200ms ease;

    &:hover {
      color: var(--color-white);
    }

    &--filter {
      position: relative;
      padding-right: 27px;

      &:hover {
        &::after {
          background-color: var(--color-white);
        }
      }

      &::after {
        @include elDef();
        width: 14px;
        height: 14px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @include maskImage(url('../images/filter.svg'), contain);
        background-color: #94949d;
        transition: 200ms ease;
      }
    }
  }
}
