.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--color-light);
  z-index: 10;
  transition: 200ms ease;

  @include adaptive-value("padding-top", 30, 15, 1);
  @include adaptive-value("padding-bottom", 30, 15, 1);

  @include breakpointsMaxW($bp-768) {
    top: -5px;
  }

  &--bg {
    background-color: var(--color-accent);
  }

  &.scroll-header {
    background-color: var(--color-accent);
    @include adaptive-value("padding-top", 15, 10, 1);
    @include adaptive-value("padding-bottom", 15, 10, 1);
  }

  &.scroll-header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 60px;

    @include breakpointsMaxW($bp-container) {
      margin-right: calc(15px + (60 - 15) * ((100vw - 991px) / (1270 - 991)));
    }
  }

  &__phone {
    line-height: 1;
    font-weight: 700;
    transition: 200ms ease;
    @include adaptive-value("font-size", 16, 14, 1);

    @include breakpointsMaxW($bp-991) {
      margin-left: auto;
      margin-right: 20px;
    }

    @include breakpointsMaxW($bp-768) {
      display: none;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__tools {
    flex-shrink: 0;

    @include breakpointsMaxW($bp-991) {
      display: none;
    }

    .header__btn {
      &:not(:last-child) {
        margin-right: 12px;

        @include breakpointsMaxW($bp-container) {
          margin-right: 8px;
        }
      }
    }
  }

  &__menu {
    margin-left: auto;
    margin-right: 10px;
  }

  &__toggle {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 200ms ease-in;
    position: relative;
    border-radius: 3px;
    display: none;

    @include breakpointsMaxW($bp-991) {
      display: flex;
    }

    &-line {
      border-radius: 3px;
      width: 100%;
      height: 2px;
      background-color: var(--color-light);
      position: relative;
      transition: 200ms ease-in;

      &::after,
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        background-color: inherit;
        transition: 200ms ease-in;
        border-radius: 3px;
      }

      &::after {
        top: -8px;
      }

      &::before {
        bottom: -8px;
      }
    }
  }
}
