.pagination {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-white);
    border: 1px solid #d7d8e4;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1;
    color: #8b8c9d;
    transition: 200ms ease;

    @include adaptive-value("width", 40, 34, 1);
    @include adaptive-value("height", 40, 34, 1);
    @include adaptive-value("font-size", 14, 13, 1);

    &--further {
      width: auto;
      padding-left: 14px;
      padding-right: 14px;
    }

    &:hover {
      color: #9ea1b9;
    }

    &:hover,
    &.active {
      color: var(--color-black);
      background-color: #e4e5f4;
    }
  }
}
