.product-location {
  @include adaptive-value("margin-bottom", 85, 40, 1);

  &__title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: #232323;
    @include adaptive-value("margin-bottom", 40, 30, 1);
  }

  &__cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptive-value("margin-bottom", 40, 30, 1);

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  &__col {
    &:not(:last-child) {
      padding-right: 40px;
      border-right: 1px solid #dadada;

      @include breakpointsMaxW($bp-container) {
        padding-right: 20px;
      }

      @include breakpointsMaxW($bp-768) {
        padding-right: 0;
      }
    }

    &:not(:first-child) {
      margin-left: 40px;

      @include breakpointsMaxW($bp-container) {
        margin-left: 20px;
      }

      @include breakpointsMaxW($bp-768) {
        margin-left: 0;
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    line-height: 1;
    color: #232323;
    gap: 20px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__left {
    margin-right: 20px;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 700;
    text-align: right;
  }

  &__map {
    width: 100%;
    @include adaptive-value("height", 250, 200, 1);

    iframe {
      border-radius: 10px;
    }
  }
}
