.range-slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0;
  color: #25282f;
  font-size: 0.875em;
  margin-bottom: 5px;
  padding: 10px;
  padding-bottom: 0;
  max-width: 215px;
  width: 100%;
  z-index: 0;

  &__name {
    margin-bottom: 15px;
    display: block;
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
    color: #9d9d9d;
  }

  &__range {
    border-radius: 4px;
    width: 100%;
    height: 5px;
    border: none;
    background-color: #e2e9f8;
    margin-bottom: 20px;
  }

  &__values {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__min,
  &__max {
    flex-shrink: 0;
    width: 47%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #b2b3b3;

    border: 1px solid #e9e8ed;
    border-radius: 5px;
  }

  .noUi-horizontal .noUi-handle {
    background-color: var(--color-accent);
    cursor: pointer;
    box-shadow: none;
    top: -8px;
    border-color: transparent;
    width: 21px;
    height: 21px;
    background-color: #303058;
    border-radius: 5px;

    &:hover {
      border-color: var(--color-accent);
      transform: scale(1.2);
    }

    &::before,
    &::after {
      display: none;
    }
  }

  .noUi-connect {
    background-color: #dedfe8;
  }

  .noUi-touch-area {
    &::after {
      @include elDef();
      width: 7px;
      height: 7px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include backgroundImage(url("../images/lines.png"), contain);
      z-index: 10;
    }
  }
}
