<section class="adv">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>

    <ol class="adv__list">
      <li class="adv-item">
        <span class="adv-item__name">Личный брокер</span>
        <p class="adv-item__text">Только реальные клиенты</p>
      </li>
      <li class="adv-item">
        <span class="adv-item__name">Быстрый поиск покупателя</span>
        <p class="adv-item__text">Продажа бизнеса за 14 дней</p>
      </li>
      <li class="adv-item">
        <span class="adv-item__name">Без предоплаты</span>
        <p class="adv-item__text">Оплата только по факту сделки</p>
      </li>
      <li class="adv-item">
        <span class="adv-item__name">Сопровождение</span>
        <p class="adv-item__text">На всех этапах сделки</p>
      </li>
      <li class="adv-item">
        <span class="adv-item__name">Полная защита</span>
        <p class="adv-item__text">
          Сделку купли-продажи проводят профессиональные юристы
        </p>
      </li>
      <li class="adv-item">
        <span class="adv-item__name">Крупнейшая база</span>
        <p class="adv-item__text">
          Самая большая база покупателей готового бизнеса
        </p>
      </li>
    </ol>
  </div>
</section>
