<section class="aim">
  <div class="container">
    <div class="aim__text">
      <p>
        <span> Наша цель </span>
        — изменить рынок инвестиций в готовый бизнес и предоставить наиболее
        удобный инструмент для поиска и анализа бизнес-проектов. За счет
        различных каналов рекламы и торговых площадок, мы обеспечиваем
        максимальный приток клиентов.
      </p>
    </div>

    <div class="aim__inner">
      <div class="aim__left">Процесс работы</div>
      <div class="aim__right">
        Благодаря налаженным процессам и автоматизации, мы учтем все ваши
        требования и предоставим исчерпывающие варианты, поможем вам сразу же
        начать получать прибыль. За время работы мы совершили большое количество
        успешных сделок по покупке и продаже готового бизнеса, тем самым помогли
        многим найти дело, которое приносит не только финансовый достаток, но и
        удовольствие от совершаемой работы.
      </div>
    </div>
  </div>
</section>
