<section class="articles">
  <div class="container">
    <h2 class="articles__title">Статьи о жизни компании</h2>

    <p class="articles__text">Интересные статьи о нашей компании.</p>

    <ul class="articles__list">
      <li class="articles__item">
        <article class="articles-card">
          <a class="articles-card__top" href="#">
            <img loading="lazy" src="images/articles/1.jpg" alt="articles" />
          </a>
          <div class="articles-card__body">
            <p class="articles-card__date">29 апреля 2022</p>
            <h3 class="articles-card__title">
              <a class="card-link" href="#">
                С чего начать, купив готовый бизнес?
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="articles__item">
        <article class="articles-card">
          <a class="articles-card__top" href="#">
            <img loading="lazy" src="images/articles/1.jpg" alt="articles" />
          </a>
          <div class="articles-card__body">
            <p class="articles-card__date">29 апреля 2022</p>
            <h3 class="articles-card__title">
              <a class="card-link" href="#">
                С чего начать, купив готовый бизнес?
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="articles__item">
        <article class="articles-card">
          <a class="articles-card__top" href="#">
            <img loading="lazy" src="images/articles/1.jpg" alt="articles" />
          </a>
          <div class="articles-card__body">
            <p class="articles-card__date">29 апреля 2022</p>
            <h3 class="articles-card__title">
              <a class="card-link" href="#">
                С чего начать, купив готовый бизнес?
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="articles__item">
        <article class="articles-card">
          <a class="articles-card__top" href="#">
            <img loading="lazy" src="images/articles/1.jpg" alt="articles" />
          </a>
          <div class="articles-card__body">
            <p class="articles-card__date">29 апреля 2022</p>
            <h3 class="articles-card__title">
              <a class="card-link" href="#">
                С чего начать, купив готовый бизнес?
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="articles__item">
        <article class="articles-card">
          <a class="articles-card__top" href="#">
            <img loading="lazy" src="images/articles/1.jpg" alt="articles" />
          </a>
          <div class="articles-card__body">
            <p class="articles-card__date">29 апреля 2022</p>
            <h3 class="articles-card__title">
              <a class="card-link" href="#">
                С чего начать, купив готовый бизнес?
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="articles__item">
        <article class="articles-card">
          <a class="articles-card__top" href="#">
            <img loading="lazy" src="images/articles/1.jpg" alt="articles" />
          </a>
          <div class="articles-card__body">
            <p class="articles-card__date">29 апреля 2022</p>
            <h3 class="articles-card__title">
              <a class="card-link" href="#">
                С чего начать, купив готовый бизнес?
              </a>
            </h3>
          </div>
        </article>
      </li>
    </ul>

    <div class="articles__bottom bottom-actions">
      <button class="bottom-actions__more" type="button">Загрузить еще</button>

      <div class="bottom-actions__pagination pagination">
        <ul class="pagination__list">
          <li class="pagination__item">
            <button class="pagination__btn active" type="button">1</button>
          </li>
          <li class="pagination__item">
            <button class="pagination__btn" type="button">2</button>
          </li>
          <li class="pagination__item">
            <button class="pagination__btn" type="button">3</button>
          </li>
          <li class="pagination__item">
            <button class="pagination__btn" type="button">4</button>
          </li>
          <li class="pagination__item">
            <button class="pagination__btn" type="button">5</button>
          </li>
          <li class="pagination__item">
            <button
              class="pagination__btn pagination__btn--further"
              type="button"
            >
              Далее
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
