<section class="categories">
  <div class="container">
    <h2 class="categories__title">Популярные категории</h2>

    <div class="categories__slider swiper">
      <ul class="categories__slides swiper-wrapper">
        <li class="categories__slide swiper-slide">
          <article
            class="categories-card"
            style="background-image: url('images/categories/1.jpg')"
          >
            <div class="categories-card__info">
              <h3 class="categories-card__title">
                <a href="#">АВТОМОЙКИ</a>
              </h3>
              <p class="categories-card__text">
                95 вариантов бизнеса для покупки
              </p>
              <a class="categories-card__btn btn btn--white" href="#"
                >Смотреть все</a
              >
            </div>
          </article>
        </li>
        <li class="categories__slide swiper-slide">
          <article
            class="categories-card"
            style="background-image: url('images/categories/2.jpg')"
          >
            <div class="categories-card__info">
              <h3 class="categories-card__title">
                <a href="#">АВТОСЕРВИСЫ</a>
              </h3>
              <p class="categories-card__text">
                95 вариантов бизнеса для покупки
              </p>
              <a class="categories-card__btn btn btn--white" href="#"
                >Смотреть все</a
              >
            </div>
          </article>
        </li>
        <li class="categories__slide swiper-slide">
          <article
            class="categories-card"
            style="background-image: url('images/categories/3.jpg')"
          >
            <div class="categories-card__info">
              <h3 class="categories-card__title">
                <a href="#">САЛОНЫ КРАСОТЫ</a>
              </h3>
              <p class="categories-card__text">
                74 варианта бизнеса для покупки
              </p>
              <a class="categories-card__btn btn btn--white" href="#"
                >Смотреть все</a
              >
            </div>
          </article>
        </li>
        <li class="categories__slide swiper-slide">
          <article
            class="categories-card"
            style="background-image: url('images/categories/1.jpg')"
          >
            <div class="categories-card__info">
              <h3 class="categories-card__title">
                <a href="#">АВТОМОЙКИ</a>
              </h3>
              <p class="categories-card__text">
                95 вариантов бизнеса для покупки
              </p>
              <a class="categories-card__btn btn btn--white" href="#"
                >Смотреть все</a
              >
            </div>
          </article>
        </li>
        <li class="categories__slide swiper-slide">
          <article
            class="categories-card"
            style="background-image: url('images/categories/2.jpg')"
          >
            <div class="categories-card__info">
              <h3 class="categories-card__title">
                <a href="#">АВТОСЕРВИСЫ</a>
              </h3>
              <p class="categories-card__text">
                95 вариантов бизнеса для покупки
              </p>
              <a class="categories-card__btn btn btn--white" href="#"
                >Смотреть все</a
              >
            </div>
          </article>
        </li>
        <li class="categories__slide swiper-slide">
          <article
            class="categories-card"
            style="background-image: url('images/categories/3.jpg')"
          >
            <div class="categories-card__info">
              <h3 class="categories-card__title">
                <a href="#">САЛОНЫ КРАСОТЫ</a>
              </h3>
              <p class="categories-card__text">
                74 варианта бизнеса для покупки
              </p>
              <a class="categories-card__btn btn btn--white" href="#"
                >Смотреть все</a
              >
            </div>
          </article>
        </li>
      </ul>

      <div class="swiper-pagination"></div>
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
    </div>
  </div>
</section>
