<section
  class="consultation consultation--light"
  style="background-image: url('images/consultation-hero-bg.jpg')"
>
  <div class="container">
    <div class="consultation__top">
      <h2 class="consultation__title">Хотите быстро продать свой бизнес?</h2>

      <p class="consultation__text">Мы поможем с продаже за 14 дней!</p>
    </div>

    <form class="consultation__form-sell form-sell">
      <label class="form-sell__group">
        <input
          class="form-sell__input"
          type="tel"
          placeholder="Введите Ваш телефон"
        />
      </label>
      <button class="form-sell__btn btn btn--dark" type="submit">
        Продать бизнес
      </button>
      <label class="form-sell__checkbox checkbox checkbox--white">
        <input class="checkbox__input" type="checkbox" checked />
        <span class="checkbox__box"></span>
        <span class="checkbox__text"
          >Отправляя заявку я соглашаюсь на обработку персональных данных</span
        >
      </label>
    </form>
  </div>
</section>
