<section class="contacts">
  <div class="container">
    <div class="contacts__wrapper">
      <div class="contacts__left">
        <div class="contacts__top">
          <h1 class="contacts__title">Контакты</h1>
          <p class="contacts__text">
            Свяжитесь с нами любым, удобным для Вас способом.
          </p>
        </div>
        <div class="contacts__text">
          <p>
            Наша команда здесь, чтобы помочь вам сделать правильный выбор,
            предоставить расчеты и дать необходимые рекомендации
          </p>
        </div>

        <div class="contacts__info">
          <div class="contacts__item">
            <strong>Адрес:</strong> Москва, ул. Название улицы 10, офис 11
          </div>
          <div class="contacts__item">
            <strong>Teлефон:</strong>
            <a href="tel:+71234567890">8 (123) 456 78 90</a>
          </div>
          <div class="contacts__item">
            <strong>E-mail:</strong>
            <a href="mailto:info@vimade.ru">info@vimade.ru</a>
          </div>
        </div>

        <button class="contacts__btn btn btn--dark" type="button">
          Заказать консультацию
        </button>
      </div>

      <div class="contacts__map map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaa848259e84a0195b8f6a97cd5dfe51d1ee2b5e66c2c4936db36767d3282e73b&amp;source=constructor"
          width="1000"
          height="700"
        ></iframe>
      </div>
    </div>
  </div>
</section>
