<section
  class="consultation consultation--get"
  style="background-image: url('images/consultation-get-bg.jpg')"
>
  <div class="container">
    <div class="consultation__top">
      <h2 class="consultation__title">Получите бесплатную консультацию</h2>

      <p class="consultation__text">
        Поможем оценить и подготовить ваш объект к продаже. Предложим бизнес
        актуальным клиентам по вашей сфере, а также запустим рекламную компанию.
      </p>
    </div>

    <form class="consultation__form-sell form-sell">
      <label class="form-sell__group">
        <input
          class="form-sell__input"
          type="tel"
          placeholder="Введите Ваш телефон"
        />
      </label>
      <button class="form-sell__btn btn btn--white" type="submit">
        Получить консультацию
      </button>
      <label class="form-sell__checkbox checkbox checkbox--white">
        <input class="checkbox__input" type="checkbox" checked />
        <span class="checkbox__box"></span>
        <span class="checkbox__text"
          >Отправляя заявку я соглашаюсь на обработку персональных данных</span
        >
      </label>
    </form>
  </div>
</section>
