<section class="descr-services">
  <div class="container">
    <div class="descr-services__wrapper">
      <div class="descr-services__side side-nav">
        <div class="side-nav__inner">
          <div class="side-nav__top">
            <h2 class="side-nav__title">Услуги</h2>
          </div>

          <ul class="side-nav__list">
            <li class="side-nav__item">
              <a class="side-nav__link active" href="#">Оценка и консалтинг</a>
            </li>
            <li class="side-nav__item">
              <a class="side-nav__link" href="#">Юридические услуги</a>
            </li>
            <li class="side-nav__item">
              <a class="side-nav__link" href="#">Аудит бизнеса</a>
            </li>
            <li class="side-nav__item">
              <a class="side-nav__link" href="#">Бухгалтерские услуги</a>
            </li>
          </ul>
        </div>

        <div class="block-consultation">
          <div class="block-consultation__inner">
            <div class="block-consultation__person">
              <img
                class="block-consultation__avatar"
                loading="lazy"
                src="images/person.jpg"
                alt="person"
              />
              <div class="block-consultation__person-info">
                <strong class="block-consultation__name">Елена</strong>
                <span class="block-consultation__count">
                  менеджер компании
                </span>
              </div>
            </div>

            <p class="block-consultation__heading">Получить консультацию</p>

            <div class="block-consultation__descr">
              <span>
                Оставьте Ваш телефон и мы свяжемся с Вами, и ответим на все Ваши
                вопросы.
              </span>
            </div>

            <form class="block-consultation__form form-consultation">
              <div class="form-consultation__group">
                <label class="form-consultation__label" for="phone"
                  >Телефон</label
                >
                <input
                  class="form-consultation__input"
                  type="tel"
                  id="phone"
                  placeholder="+7 (___) ___ - __ - __"
                />
              </div>

              <button
                class="form-consultation__btn btn btn--dark"
                type="button"
              >
                Заказать звонок
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="descr-services__content">
        <div class="descr-services__top">
          <h1 class="descr-services__title">Оценка и консалтинг</h1>
          <p class="descr-services__text">
            Оценка бизнеса — это определение стоимости компании как
            имущественного комплекса, способного приносит прибыль его владельцу.
          </p>
        </div>
        <div class="descr-services__preview">
          <img loading="lazy" src="images/descr-services.jpg" alt="services" />
        </div>

        <p class="descr-services__heading">
          При проведении оценки предприятия определяется:
        </p>

        <ul class="descr-services__list">
          <li class="descr-services__item">
            Оценка всех активов: недвижимого имущества, машин, оборудования,
            складских запасов, земельных участков, сырья и продукции,
            нематериальных активов, финансовых вложений, имущественных
            обязательств;
          </li>
          <li class="descr-services__item">
            Отдельно оценивается эффективность работы компании, ее настоящие и
            будущие доходы, перспективы развития бизнеса и конкурентная среда на
            данном рынке;
          </li>
          <li class="descr-services__item">
            Оценка бизнеса может включать в себя и оценку имущества, вносимого в
            качестве вклада в Уставной капитал.
          </li>
        </ul>

        <div class="descr-services__text">
          <p>
            Расчет стоимости предприятия производится с использованием, как
            правило, нескольких методов, чтобы получить максимально достоверный
            результат. Бизнес (предприятие) обладает всеми признаками товара и
            может быть объектом купли-продажи. Но это товар особого рода. Эта
            специфика предписывает Оценщику, в зависимости от конкретных
            интересов покупателя, необходимость определять различные виды
            стоимости данного товара: рыночную, ликвидационную, инвестиционную и
            т.д.
          </p>
          <p>
            Принципиальное значение имеет тот факт, что качественная рыночная
            оценка не ограничивается учетом лишь одних затрат, связанных с
            производством товара, она обязательно принимает во внимание
            экономический имидж – положение предприятия на рынке, фактор
            времени, риски, уровень конкуренции. Оценщик подходит к определению
            стоимости с позиций экономической концепции фирмы. Согласно такому
            взгляду на оценку, рыночная стоимость любого объекта, порождающего
            доход или поток денежной наличности, определяется исходя из текущей
            стоимости ожидаемого будущего потока наличности, дисконтированного
            по норме процента, отражающего требуемую инвестором норму прибыли
            для сопоставимых по риску инвестиций.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
