<section class="faqs">
  <div class="container">
    <div class="faqs__wrapper">
      <h2 class="faqs__title">Часто задаваемые вопросы</h2>
      <div class="faqs-accordion accordion">
        <button
          class="faqs-accordion__control accordion__control"
          type="button"
        >
          <span>
            Где в Санкт-Петербурге искать реально прибыльный и хороший готовый
            бизнес
          </span>
        </button>

        <div class="faqs-accordion__content accordion__content">
          <p>
            Среди сайтов-агрегаторов объявлений специализированных площадок,
            наиболее высоким качеством и актуальностью предложений отличается
            ресурс BuroBiz — на портале самый полный каталог готового бизнеса в
            Санкт-Петербурге с удобной навигацией, разбивкой по сферам и
            категориям и возможность задавать гибкие параметры для поиска. Что
            важно, все размещенные на сайте объявления публикуются напрямую от
            собственников — то есть вариант испорченного телефона, когда
            какая-либо информация может быть искажена, исключен.
          </p>
        </div>
      </div>
      <div class="faqs-accordion accordion">
        <button
          class="faqs-accordion__control accordion__control"
          type="button"
        >
          <span>
            Топ-сферы и категорий бизнеса, наиболее актуальных для покупки в
            Питере?
          </span>
        </button>

        <div class="faqs-accordion__content accordion__content">
          <p>
            Среди сайтов-агрегаторов объявлений специализированных площадок,
            наиболее высоким качеством и актуальностью предложений отличается
            ресурс BuroBiz — на портале самый полный каталог готового бизнеса в
            Санкт-Петербурге с удобной навигацией, разбивкой по сферам и
            категориям и возможность задавать гибкие параметры для поиска. Что
            важно, все размещенные на сайте объявления публикуются напрямую от
            собственников — то есть вариант испорченного телефона, когда
            какая-либо информация может быть искажена, исключен.
          </p>
        </div>
      </div>
      <div class="faqs-accordion accordion">
        <button
          class="faqs-accordion__control accordion__control"
          type="button"
        >
          <span>
            Сколько всего предложений в Вашем каталоге, как часто он
            обновляется?
          </span>
        </button>

        <div class="faqs-accordion__content accordion__content">
          <p>
            Среди сайтов-агрегаторов объявлений специализированных площадок,
            наиболее высоким качеством и актуальностью предложений отличается
            ресурс BuroBiz — на портале самый полный каталог готового бизнеса в
            Санкт-Петербурге с удобной навигацией, разбивкой по сферам и
            категориям и возможность задавать гибкие параметры для поиска. Что
            важно, все размещенные на сайте объявления публикуются напрямую от
            собственников — то есть вариант испорченного телефона, когда
            какая-либо информация может быть искажена, исключен.
          </p>
        </div>
      </div>
      <div class="faqs-accordion accordion">
        <button
          class="faqs-accordion__control accordion__control"
          type="button"
        >
          <span>
            На какую прибыльность могут рассчитывать покупатели бизнеса?
          </span>
        </button>

        <div class="faqs-accordion__content accordion__content">
          <p>
            Среди сайтов-агрегаторов объявлений специализированных площадок,
            наиболее высоким качеством и актуальностью предложений отличается
            ресурс BuroBiz — на портале самый полный каталог готового бизнеса в
            Санкт-Петербурге с удобной навигацией, разбивкой по сферам и
            категориям и возможность задавать гибкие параметры для поиска. Что
            важно, все размещенные на сайте объявления публикуются напрямую от
            собственников — то есть вариант испорченного телефона, когда
            какая-либо информация может быть искажена, исключен.
          </p>
        </div>
      </div>
      <div class="faqs-accordion accordion">
        <button
          class="faqs-accordion__control accordion__control"
          type="button"
        >
          <span>
            Где я могу убедиться, что у вас хорошая площадка и вы отлично
            работаете?
          </span>
        </button>

        <div class="faqs-accordion__content accordion__content">
          <p>
            Среди сайтов-агрегаторов объявлений специализированных площадок,
            наиболее высоким качеством и актуальностью предложений отличается
            ресурс BuroBiz — на портале самый полный каталог готового бизнеса в
            Санкт-Петербурге с удобной навигацией, разбивкой по сферам и
            категориям и возможность задавать гибкие параметры для поиска. Что
            важно, все размещенные на сайте объявления публикуются напрямую от
            собственников — то есть вариант испорченного телефона, когда
            какая-либо информация может быть искажена, исключен.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
