<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__left">
        <div class="footer__col footer__col--first">
          <a class="footer__logo logo" href="#">
            <img src="images/logo.png" alt="Логотип" />
          </a>

          <div class="footer__socials socials">
            <p class="socials__name">Наши мессенджеры</p>
            <ul class="socials__list">
              <li class="socials__item">
                <a
                  class="socials__link socials__link--vk"
                  href="#"
                  target="_blank"
                  aria-label="vk"
                ></a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link socials__link--whatsapp"
                  href="#"
                  target="_blank"
                  aria-label="whatsapp"
                ></a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link socials__link--telegram"
                  href="#"
                  target="_blank"
                  aria-label="telegram"
                ></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer__col footer__col--company">
          <span class="footer__name">Компания </span>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">
                <span>О компании</span>
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                <span>Услуги</span>
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                <span>Статьи о компании</span>
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                <span>Контакты</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__col footer__col--lists">
          <span class="footer__name">Категории</span>
          <div class="footer__lists">
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#"><span>Автомойки</span></a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#"><span>Автосервисы</span></a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#"><span>Гостиничный бизнес</span></a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#"><span>Общепит</span></a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#"><span>Торговля</span></a>
              </li>
            </ul>

            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#"><span>Производства</span></a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#"><span>Салоны красоты</span></a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#"><span>Медцентры</span></a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#"><span>Стоматологии</span></a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#"><span>Эксклюзив от Vimade</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer__right">
        <div class="footer__contacts footer-contacts">
          <span class="footer__name">Контакты</span>
          <ul class="footer-contacts__list">
            <li class="footer-contacts__item footer-contacts__item--address">
              <div class="footer-contacts__icon"></div>
              <span>Москва, ул. Название улицы 10, офис 11</span>
            </li>
            <li class="footer-contacts__item footer-contacts__item--phone">
              <div class="footer-contacts__icon"></div>
              <span>
                Контактный телефон:
                <a href="tel:+71234567890"> 8 (123) 456 78 90 </a>
              </span>
            </li>
            <li class="footer-contacts__item footer-contacts__item--email">
              <div class="footer-contacts__icon"></div>
              <span>
                Тех. поддержка:
                <a href="mailto:support@готовый-бизнес.ru">
                  support@готовый-бизнес.ru
                </a>
              </span>
            </li>
          </ul>
        </div>
        <div class="footer__btns">
          <button class="footer__btn btn" type="button">Купить бизнес</button>
          <button class="footer__btn btn btn--bordered" type="button">
            Продать бизнес
          </button>
          <a class="footer__btn btn btn--bordered footer__btn--up" href="#">
            <svg class="">
              <use xlink:href="images/sprite.svg#upper-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <div class="footer__copy">
          © 2022 Vimade. Все права защищены.
          <a href="#">Политика конфиенциальности.</a>
        </div>
        <a class="company" href="https://razrabotka-saita.ru/" target="_blank">
          <span>Разработка сайта</span>
          <img src="images/logo-company.png" alt="АдвансМедиа" />
        </a>
      </div>
    </div>
  </div>
</footer>
