<section
  class="hero-about"
  style="background-image: url('images/hero-about-bg.jpg')"
>
  <div class="container">
    <div class="hero-about__wrapper">
      <div class="hero-about__offer">
        <h1 class="hero-about__title">
          Vimade — купля-продажа готового бизнеса в Москве
        </h1>
        <div class="hero-about__text">
          <p>
            Вы обязательно получите индивидуальный подход, исчерпывающую
            консультацию, помощь в выборе действительно прибыльного бизнеса, его
            проверку на чистоту.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
