<section class="hero" style="background-image: url('images/hero-bg.jpg')">
  <div class="container container--c-1920">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <span class="hero__uppertitle">Посреднические услуги</span>
        <h1 class="hero__title">в сфере покупки — продажи готового бизнеса</h1>
      </div>

      <div class="hero__bottom">
        <p class="hero__text">Найдите в два клика готовый бизнес</p>

        <form class="hero__form form-select">
          <div class="form-select__inner">
            <select class="form-select__select">
              <option>Категория бизнеса</option>
              <option value="1">Категория 1</option>
              <option value="2">Категория 2</option>
              <option value="3">Категория 3</option>
            </select>

            <div class="form-select__group">
              <p class="form-select__name">Стоимость</p>
              <div class="range-slider range-slider--cost">
                <div class="range-slider__range" id="slider-handles"></div>
                <div class="range-slider__values">
                  <input
                    class="range-slider__min"
                    type="text"
                    placeholder="От 10 000"
                  />
                  <input
                    class="range-slider__max"
                    type="text"
                    placeholder="До 100 млн"
                  />
                </div>
              </div>
            </div>
            <div class="form-select__group">
              <p class="form-select__name">Окупаемость</p>
              <div class="range-slider range-slider--profit">
                <div class="range-slider__range" id="slider-profit"></div>
                <div class="range-slider__values">
                  <input
                    class="range-slider__min"
                    type="text"
                    placeholder="От 10 000"
                  />
                  <input
                    class="range-slider__max"
                    type="text"
                    placeholder="До 100 млн"
                  />
                </div>
              </div>
            </div>

            <button class="form-select__submit btn btn--dark" type="submit">
              Найти
            </button>
          </div>
          <div class="form-select__bottom">
            <button
              class="form-select__btn form-select__btn--filter"
              type="button"
            >
              Еще фильтры
            </button>
            <button class="form-select__btn" type="button">
              Очистить фильтр
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
