<section class="hero" style="background-image: url('images/hero-bg.jpg')">
  <div class="container container--c-1920">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <span class="hero__uppertitle">Посреднические услуги</span>
        <h1 class="hero__title">в сфере покупки — продажи готового бизнеса</h1>
      </div>

      <div class="hero__bottom">
        <p class="hero__text">Найдите в два клика готовый бизнес</p>

        <form class="hero__form form-select">
          <div class="form-select__inner">
            <select class="form-select__select">
              <option>Категория бизнеса</option>
              <option value="1">Категория 1</option>
              <option value="2">Категория 2</option>
              <option value="3">Категория 3</option>
            </select>
            <select class="form-select__select">
              <option>Стоимость</option>
              <option value="1">Категория 1</option>
              <option value="2">Категория 2</option>
              <option value="3">Категория 3</option>
            </select>
            <select class="form-select__select form-select__select--no-border">
              <option>Окупаемость</option>
              <option value="1">Категория 1</option>
              <option value="2">Категория 2</option>
              <option value="3">Категория 3</option>
            </select>
            <button class="form-select__submit btn btn--dark" type="submit">
              Найти
            </button>
          </div>
          <div class="form-select__bottom">
            <button
              class="form-select__btn form-select__btn--filter"
              type="button"
            >
              Еще фильтры
            </button>
            <button class="form-select__btn" type="button">
              Очистить фильтр
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
