<section class="product">
  <div class="container">
    <h1 class="product__title">Автомойка самообслуживания</h1>

    <div class="product__wrapper">
      <div class="product__content">
        <div class="product__slider swiper">
          <ul class="product__slides swiper-wrapper">
            <li class="product__slide swiper-slide">
              <img loading="lazy" src="images/product-big.jpg" alt="product" />
            </li>
            <li class="product__slide swiper-slide">
              <img loading="lazy" src="images/product-big.jpg" alt="product" />
            </li>
            <li class="product__slide swiper-slide">
              <img loading="lazy" src="images/product-big.jpg" alt="product" />
            </li>
          </ul>

          <button
            class="swiper-button-prev"
            type="button"
            aria-label="Предыдущий"
          ></button>
          <button
            class="swiper-button-next"
            type="button"
            aria-label="Следующий"
          ></button>
        </div>

        <div class="product-location">
          <h3 class="product-location__title">Расположение бизнеса</h3>

          <div class="product-location__cols">
            <div class="product-location__col">
              <div class="product-location__row">
                <div class="product-location__left">Район</div>
                <div class="product-location__right">Невский</div>
              </div>
              <div class="product-location__row">
                <div class="product-location__left">Улица</div>
                <div class="product-location__right">Улица Дыбенко</div>
              </div>
            </div>

            <div class="product-location__col">
              <div class="product-location__row">
                <div class="product-location__left">Метро</div>
                <div class="product-location__right">Улица Дыбенко</div>
              </div>
              <div class="product-location__row">
                <div class="product-location__left">Дом</div>
                <div class="product-location__right">10</div>
              </div>
            </div>
            <div class="product-location__col">
              <div class="product-location__row">
                <div class="product-location__left">Причина продажи</div>
                <div class="product-location__right">----</div>
              </div>
            </div>
          </div>

          <div class="product-location__map map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3A49ed51566c5b1161b39a0de38fccfb7a62a3f8108e4c3b3468fef58e31812c27&amp;source=constructor"
              width="900"
              height="250"
            ></iframe>
          </div>
        </div>

        <div class="product-info">
          <div class="product-info__col">
            <h3 class="product-info__title">О помещении</h3>
            <div class="product-info__box">
              <ul class="product-info__list">
                <li class="product-info__item">
                  <div class="product-info__left">Площадь</div>
                  <div class="product-info__right">800 м²</div>
                </li>
                <li class="product-info__item">
                  <div class="product-info__left">Арендная ставка</div>
                  <div class="product-info__right">0 ₽</div>
                </li>
                <li class="product-info__item">
                  <div class="product-info__left">В собственности</div>
                  <div class="product-info__right"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-info__col">
            <h3 class="product-info__title">Коммерческая информация</h3>
            <div class="product-info__box">
              <ul class="product-info__list">
                <li class="product-info__item">
                  <div class="product-info__left">Правовая форма</div>
                  <div class="product-info__right">ИП</div>
                </li>
                <li class="product-info__item">
                  <div class="product-info__left">Налогообложение</div>
                  <div class="product-info__right">УСН</div>
                </li>
                <li class="product-info__item">
                  <div class="product-info__left">Возраст бизнеса</div>
                  <div class="product-info__right">почти 2 года</div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="product-report">
          <h3 class="product-report__title">Отчет о проверке бизнеса</h3>

          <div class="product-report__inner">
            <div class="product-report__box">
              <ul class="product-report__list product-report__list--accent">
                <li class="product-report__item">
                  Общие сведения из ЕГРЮЛ и ЕГРИП
                </li>
                <li class="product-report__item">Список оборудования</li>
                <li class="product-report__item">Реальные фотографии</li>
                <li class="product-report__item">Финансовые показатели</li>
              </ul>
            </div>
            <div class="product-report__box">
              <ul class="product-report__list">
                <li class="product-report__item">Реестр доверенностей</li>
                <li class="product-report__item">Выписка из ЕГРН</li>
                <li class="product-report__item">
                  Выписка из ЕГРН о переходе прав
                </li>
                <li class="product-report__item">.........</li>
              </ul>
            </div>
          </div>
          <div class="product-report__btns">
            <button class="product-report__btn btn btn--dark" type="button">
              Получить полную проверку бизнеса бесплатно
            </button>
            <button class="product-report__btn btn btn--bordered" type="button">
              Показать все источники
            </button>
          </div>
        </div>

        <div class="product-comment">
          <h3 class="product-comment__title">Комментарий продавца</h3>
          <div class="product-comment__text">
            <p>
              В продаже автомойка самообслуживания на 5 постов. Земельный
              участок в собственности. Расположена мойка в перспективной локации
              (это подтверждает стабильный рост выручки от месяца к месяцу).
            </p>
            <p>
              Расположена мойка в Невском районе, отдельностоящее здание на
              первой линии. Общая площадь помещения 800 кв.м. Все коммуникации
              подведены и работают исправно (Заключены прямые договора с
              Водоканалом и Ленэнерго, подведен магистральный газ). Имеется все
              необходимое оборудование для полноценного ведения деятельности.
              Для привлечения внимания установлена и согласована вывеска.
            </p>
            <p>
              Чистая прибыль которую готовы подтвердить (1С) составляет 500 000
              рублей в месяц. Фотографии не оригинальные, фактические готовы
              предоставить по запросу. Если Вас заинтересовал объект, Звоните!
              Отвечу на Ваши вопросы.
            </p>
          </div>
        </div>
      </div>

      <div class="product-side">
        <div class="product-side__inner">
          <ul class="product-side__list">
            <li class="product-side__item">
              <div class="product-side__left">Расход в месяц</div>
              <div class="product-side__right">300 000 ₽</div>
            </li>
            <li class="product-side__item">
              <div class="product-side__left">Оборот в месяц</div>
              <div class="product-side__right">800 000 ₽</div>
            </li>
            <li class="product-side__item">
              <div class="product-side__left">Чистая прибыль</div>
              <div class="product-side__right">500 000 ₽</div>
            </li>
            <li class="product-side__item">
              <div class="product-side__left">Окупаемость</div>
              <div class="product-side__right">122 мес.</div>
            </li>
          </ul>
          <div class="product-side__total">
            <span class="product-side__cost">Стоимость</span>
            <strong class="product-side__price">61 000 000 ₽</strong>
          </div>
        </div>

        <div class="block-consultation">
          <div class="block-consultation__inner">
            <p class="block-consultation__text">
              Этот бизнес Вам покажет представитель собственника
            </p>

            <div class="block-consultation__person">
              <img
                class="block-consultation__avatar"
                loading="lazy"
                src="images/person.jpg"
                alt="person"
              />
              <div class="block-consultation__person-info">
                <strong class="block-consultation__name">Елена</strong>
                <span class="block-consultation__count">
                  350 бизнес - объявлений
                </span>
              </div>
            </div>

            <div class="block-consultation__descr">
              <p>Для консультации по объекту</p>
              <span>Оставьте телефон и мы Вам перезвоним</span>
            </div>

            <form class="block-consultation__form form-consultation">
              <div class="form-consultation__group">
                <label class="form-consultation__label" for="phone">
                  Телефон
                </label>
                <input
                  class="form-consultation__input"
                  type="tel"
                  id="phone"
                  placeholder="+7 (___) ___ - __ - __"
                />
              </div>

              <button
                class="form-consultation__btn btn btn--dark"
                type="button"
              >
                Заказать звонок
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
