<section class="scheme">
  <div class="container">
    <div class="scheme__wrapper">
      <svg class="scheme__circle">
        <use xlink:href="images/sprite.svg#circle"></use>
      </svg>
      <svg class="scheme__ellipse">
        <use xlink:href="images/sprite.svg#"></use>
      </svg>

      <div class="scheme__inner">
        <div class="scheme__top">
          <h3 class="scheme__title">Схема работы</h3>
          <div class="scheme__btns">
            <button class="scheme__btn btn btn--bordered active" type="button">
              с покупателем
            </button>
            <button class="scheme__btn btn btn--bordered" type="button">с продавцом</button>
          </div>
        </div>

        <div class="scheme__content active">
          <p class="scheme__text">
            Поможем Вам с покупкой готового бизнеса всего за 4 шага
          </p>

          <ul class="scheme__list">
            <li class="scheme-item scheme-item--meet">
              <span class="scheme-item__name">Знакомимся</span>
              <p class="scheme-item__text">
                Задаем вопросы и определяемся, какой именно бизнес вы ищете
              </p>
            </li>
            <li class="scheme-item scheme-item--lead">
              <span class="scheme-item__name">Ведем переговоры</span>
              <p class="scheme-item__text">
                Выполним проверку бизнеса и проведем переговоры с продавцом и
                арендодателем
              </p>
            </li>
            <li class="scheme-item scheme-item--deal">
              <span class="scheme-item__name">Проводим сделку</span>
              <p class="scheme-item__text">
                Готовим документы, идем к нотариусу, контролируем расчеты и
                передачу активов
              </p>
            </li>
            <li class="scheme-item scheme-item--advise">
              <span class="scheme-item__name">Консультируем</span>
              <p class="scheme-item__text">
                Если возникают вопросы, бесплатно проведем консультацию и
                ответим на все Ваши вопросы
              </p>
            </li>
          </ul>
        </div>

        <div class="scheme__content">
          <p class="scheme__text">
            Поможем Вам с покупкой готового бизнеса всего за 4 шага
          </p>

          <ul class="scheme__list">
            <li class="scheme-item scheme-item--meet">
              <span class="scheme-item__name">Знакомимся</span>
              <p class="scheme-item__text">
                Задаем вопросы и определяемся, какой именно бизнес вы ищете
              </p>
            </li>
            <li class="scheme-item scheme-item--lead">
              <span class="scheme-item__name">Ведем переговоры</span>
              <p class="scheme-item__text">
                Выполним проверку бизнеса и проведем переговоры с продавцом и
                арендодателем
              </p>
            </li>
            <li class="scheme-item scheme-item--deal">
              <span class="scheme-item__name">Проводим сделку</span>
              <p class="scheme-item__text">
                Готовим документы, идем к нотариусу, контролируем расчеты и
                передачу активов
              </p>
            </li>
            <li class="scheme-item scheme-item--advise">
              <span class="scheme-item__name">Консультируем</span>
              <p class="scheme-item__text">
                Если возникают вопросы, бесплатно проведем консультацию и
                ответим на все Ваши вопросы
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
