<section class="services-section">
  <div class="container">
    <div class="services-section__wrapper">
      <div class="services-section__top">
        <h2 class="services-section__title">Услуги</h2>
        <div class="services-section__text">
          <p>
            Наша компания занимается услугами в сфере покупки и продажи готового
            бизнеса в Санкт - Петербурге, <span></span> а так же предоставляем
            следующие услуги:
          </p>
        </div>
      </div>

      <ul class="services-section__list">
        <li class="services-section__item">
          <div class="services-card">
            <img
              class="services-card__icon"
              src="images/services/1.png"
              alt="services"
            />
            <h3 class="services-card__name">Оценка и консалтинг</h3>
            <div class="services-card__text">
              <p>
                Определение стоимости компании как имущественного комплекса,
                способного приносит прибыль его владельцу.
              </p>
            </div>
            <a class="services-card__btn btn btn--dark" href="#"> Подробнее </a>
          </div>
        </li>
        <li class="services-section__item">
          <div class="services-card">
            <img
              class="services-card__icon"
              src="images/services/2.png"
              alt="services"
            />
            <h3 class="services-card__name">Юридические услуги</h3>
            <div class="services-card__text">
              <p>
                Грамотная договорная работа убережет обе стороны от рисков
                нежелательных последствий и возможных убытков в будущем.
              </p>
            </div>
            <a class="services-card__btn btn btn--dark" href="#"> Подробнее </a>
          </div>
        </li>
        <li class="services-section__item">
          <div class="services-card">
            <img
              class="services-card__icon"
              src="images/services/3.png"
              alt="services"
            />
            <h3 class="services-card__name">Аудит бизнеса</h3>
            <div class="services-card__text">
              <p>
                Провести аудит фирмы – это не простая задача, так как нужно
                учесть массу факторов, многие из которых далеко не очевидны.
              </p>
            </div>
            <a class="services-card__btn btn btn--dark" href="#"> Подробнее </a>
          </div>
        </li>
        <li class="services-section__item">
          <div class="services-card">
            <img
              class="services-card__icon"
              src="images/services/4.png"
              alt="services"
            />
            <h3 class="services-card__name">Бухгалтерские услуги</h3>
            <div class="services-card__text">
              <p>
                Грамотно организованный бухгалтерский учет — это обязательное
                условие успешности и эффективности бизнесара.
              </p>
            </div>
            <a class="services-card__btn btn btn--dark" href="#"> Подробнее </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
